body {
    background-color: #FFFBF4;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

  .menu {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  }

  hr {
    height: 10px;
    width: 50%;
  }

  h2 {
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 990px;
  text-align: left;
  font-weight: bold;
  margin: 6px;
  }
  
.buttons {
  background-color: #b1d4ff;  
  font-weight: bold;
  font-size: 14px;
  color: rgb(0, 0, 0);
   width: 142px;
  height: 32px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 16rem 16rem 16rem 16rem 16rem;
  justify-content: center;
  box-sizing: content-box;
  margin: 15px;
}

.component {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 245px;
  height: 90px;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headline {
  text-align: start;
  margin: 5px;
}

/* .material-symbols-outlined:nth-child(1) {
  background-color: #FFEB54;
}
.material-symbols-outlined:nth-child(2) {
  background-color: #2FE741;
}

.material-symbols-outlined:nth-child(3) {
  background-color: #01C4E7;
}

.material-symbols-outlined:nth-child(4) {
  background-color: #2EF8A0;

} 
.material-symbols-outlined:nth-child(5) {
  background-color: #FF0534;

}
*/
.material-symbols-outlined {
  display: block;
  box-sizing: content-box;
  text-align: right;
  background-color: #0effa6;
  border-radius: 100px;
  font-size: 14px;
  width: 25px;
  padding: 5px; 
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.data {
padding-left: 20px; 
font-weight: 800;
justify-content: center;
}

/* Segundo container */
.container-2 {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  grid-template-columns: 16rem 16rem;
  box-sizing: content-box;
  margin: 15px; 
}

.component-2 {
  display: flex;
  flex-direction: row;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
  width: 630px;
  height: 220px;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.risk-ball {
  display: flex;
  flex-direction: column;
  background-color: #10c1d8;
  width: 17px;
  height: 17px;
  margin: 5px;
  border-radius: 100px;  
}

.risk {
display: flex;
flex-direction: column;
margin: 5px; 
}

ul {
list-style-type: none;
list-style-position: inside;
padding-left: 5px;
}

table {
width: 100%; 
border-collapse: collapse;
 }

/* Espacio de desarrollo para grafico JS*/
